{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Request email verification link again
{% endblock title %}

{% block base_top_title %}
Request another email verification link (maximum of 2 requests per email).
{% endblock base_top_title %}

{% block base_content %}
<div class="d-flex justify-content-center">
<form method="post" id="solo-form">{% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-outline-dark btn-lg" type="submit">Request verification link</button>
</form>
</div>
{% endblock base_content %}