{% extends "base.html" %}

{% block title %}
Ranking lists info
{% endblock title %}

{% block base_top_title %}
Ranking Lists information page.
{% endblock base_top_title %}

{% block base_content %}
<div class="d-flex justify-content-center">
    <div style=" max-width: 70vw;">
        Welcome to <b>Ranking Lists</b>. The purpose of this site is to help people record the score (from 0 to 10) of anything. For me (I'm Brian), that would most likely be anime, dramas, and songs. This will help me remember which anime I like and which anime I dislike etc.. You can record anything you want and as your list grows, you can share it with others. Whenever you are asked for recommendations on something, just send your list. Click the bottom-left icon for the navigation menu. I've made it so that the most viewed users are more likely to have their usernames displayed at the top of the Other users page. As well, the lists that you edit more often are more likely to be displayed at the top of your lists page. If you have suggestions or notice anything wrong with the website, you can contact me at brianweihaoma@rankinglists.net. 
    </div>
</div>
{% endblock base_content %}
