{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Create list item
{% endblock title %}

{% block base_top_title %}
Create a new list item for your <b>{{ from_list.name }}</b> list.
{% endblock base_top_title %}

{% block base_content %}
<div class="d-flex flex-column align-items-center">
    <form method="post" id="solo-form" autocomplete="off">{% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-outline-dark" type="submit">Create list item</button>
    </form>
</div>
{% endblock base_content %}
